.Exercise {
  
}

.Answer {
  label {
    display: block;
    line-height: 32px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.Context {
  background: #fff;
  border-left: 1px solid #999;
  padding: 5px;
}