@import '~antd/dist/antd.css';

main {
  padding: 50px;
}
table {
  border: 2px solid black;

  tr:not(:last-child) td {
    border-bottom: 1px solid #000;
  }
}

.App {
  height: 100vh;
}
.AppHeader {
  & > * {
    color: white;
  }
}