@import '~antd/dist/antd.css';


table {
  border: 2px solid black;

  tr:not(:last-child) td {
    border-bottom: 1px solid #000;
  }
}

.App {
  height: 100vh;
}
.AppHeader {
  align-items: center;
  justify-content: center;
  display: flex;
  
  & > * {
    color: white;
    margin-right: 10px;
    margin-bottom: 0.5em;
  }
}
.AppSlogan {
  font-size: .8rem;
}

.Content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}