@import '~antd/dist/antd.css';


table {
  border: 2px solid black;

  tr:not(:last-child) td {
    border-bottom: 1px solid #000;
  }
}

.App {
  height: 100vh;
}
.AppHeader {
  & > * {
    color: white;
  }
}

.Content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}